html, body {
    margin: 0;
}

/* PAGE */

.wrapper {
    width: 1280px;
    height: 720px;
    background: black;
    background-size: cover;
    position: relative;
    color: white;
    transition: all 1.5s;
}

.overlay {
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.5;
    position: absolute;
}

.flexWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 99;
}

.partTop {
    flex: 1;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.partMid {
    flex: 3;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partBot {
    flex: 1;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.padTop {
    padding: 1em;
}

.vIcon {
    width: 150px;
}

.divider {
    font-size: 8em;
    font-weight: 100;
    opacity: 0.2;
}

.textInputContainer {
    position: absolute;
    bottom: 2em;
    left: 2em;
}

.genreContainer {
    position: absolute;
    bottom: 2em;
    right: 2em;
}